<main>
  <div class="bg-black text-white flex min-h-screen flex-col items-center pt-16 sm:justify-center sm:pt-0">
      <div class="mb-16 text-foreground font-semibold text-2xl tracking-tighter mx-auto flex items-center gap-2">
          <div>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                      d="M15.042 21.672 13.684 16.6m0 0-2.51 2.225.569-9.47 5.227 7.917-3.286-.672Zm-7.518-.267A8.25 8.25 0 1 1 20.25 10.5M8.288 14.212A5.25 5.25 0 1 1 17.25 10.5" />
              </svg>
          </div>
          Suma Resta
      </div>
  <p class="text-6xl font-bold">{{ problema }}</p>
  <h2 class="text-2xl font-semibold	mt-4">Resultado</h2>
  <input type="number" [(ngModel)]="userAnswer" placeholder="Ingresa tu respuesta"
      class="block w-48 rounded-md border-0 bg-white py-1.5 text-black shadow-sm ring-1 ring-inset bg-slate-300 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6"/>
  <button class="flex w-48 m-4 justify-center rounded-md bg-white px-3 py-1.5 text-sm font-semibold leading-6 text-black shadow-sm hover:bg-neutral-900 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:bg-black" (click)="verificarRespuesta()">Verificar Respuesta</button>
  <p class="text-red-600">{{ feedback }}</p>
  <button (click)="obtenerProblema()" class="flex w-48 m-4 justify-center rounded-md bg-neutral-700 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-slate-300	hover:text-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:bg-slate-300">Nuevo Problema</button>
</div>
</main>

